{% extends "base.html.twig" %}
{% block title %}Réinitialiser Password
{% endblock %}

{% block body %}

	<!-- Header -->
	<body class="masthead">
		<div class="container d-flex h-100 align-items-center mb-5">
			<div class="mx-auto">
				<h1 class="mx-auto my-0 text-uppercase text-center">Nouveau mot de passe</h1>
				<div class="container mt-3  d-flex justify-content-center text-white ">
					<div class="col-md-8 mb-5">
						<form method="post">

							<label for="inputPassword" class="sr-only">Password</label>
							<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de passe..." required>
							<input type="hidden" name="token" value="{{ token }}">

							<button class="btn btn-lg btn-primary" type="submit">
								Register
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>

{% endblock %}
