/* Taille du logo */
#logo{
    width : 60px;
    height : 25px;
}

/*Effet image de fond de la page d'accueil - tricks*/
#bg-home-tricks{
   
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    /* padding: 15rem 0; */
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.7) 75%, #161616 100%), url(../img/snow.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

/* Taille de la video de la page d'accueil */
#videoAccueil{
    width:300px;
    height:200px;
}

/* Taille des images de la page d'accueil et animation  */
#imgFiguresAccueil{
    width:210px;
    height:150px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#imgFiguresAccueil:hover {
    -webkit-transform: rotate(+5deg);
    transform: rotate(+5deg);
  }

/* Animation des badges de l'annuaire de la page d'accueil */
.category{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color:rgb(84, 137, 236);
    color: white;
}
.category:hover{
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    background-color: blue;
}

/* Paramètre hidden qui permet de faire disparaitre les tricks
qui n'appartiennent pas à une catégorie lors du tri sur la 
page d'accueil */
.hidden{
    display:none !important;
}
  
  
  
  