{% extends "base.html.twig" %}
{% block title %}Home
{% endblock %}

{% block body %}
	<div id="bg-home-tricks">
		<div class="container" id="home-tricks">
			
			<div class="row">
		{% for figure in figures %}
				<div class="col-md-3">
					<div class="card mb-3 mt-5">
						<div class="card-header">
							<strong> {{figure.name}} </strong>
						</div>
						<div class="card-body">
							Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas ipsa iste architecto odit, magnam beatae velit ipsam voluptatibus nemo suscipit!
						</div>
					</div>
				</div>
		{% endfor %}
				
			</div>
				<a href="#" class="btn btn-primary mb-3 mx-auto">
					<i class="fas fa-arrow-alt-circle-down"></i>
					Plus de Tricks</a>

		</div>
		<div class="container-fluid mt-auto ">
			<a href="#home-tricks" class="js-scroll-trigger">
				<i class="fas fa-arrow-up fa-3x float-right"></i>
			</a>
		</div>
	</div>

{% endblock %}
