{% extends "base.html.twig" %}
{% block title %}Créer une figure
{% endblock %}

{# Permet de parametrer les champs de mon choix (images/videos) #}
{% form_theme form 'tricks/_collection.html.twig' %}

{% block body %}
{% if app.user %}

	<!-- Header -->
	<header class="masthead">
		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto text-center">
				<h1 class="mx-auto my-0 text-uppercase">Nouvelle Figure</h1>
				<div class="text-white-50 mx-auto "></div>
				<div class="container-fluid mt-3 ">
					<a href="#form-add-tricks" class="js-scroll-trigger">
						<i class="fas fa-arrow-down fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
	</header>

	<body>
		<div id="form-add-tricks">
			<div id="bg-comments-tricks">
				<div class="row">
					<div class="mx-auto col-md-8">
						<h2 class="text-white mt-5">
							<i class="fas fa-snowboarding"></i>
							Complétez le formulaire</h2>
						<div class="form-group text-white ">
							{{form_start(form)}}
							{{form_widget(form)}}
							<button type="submit" class="btn btn-success">Valider</button>
							{{form_end(form)}}


						</div>

					</div>
				</div>

			</div>
		</body>
{% else %}
		<!-- Header -->
	<header class="masthead">
		<div class="container d-flex h-100 align-items-center">
			<div class="mx-auto text-center">
				<h1 class="mx-auto my-0 text-uppercase">Accès interdit</h1>
				<div class="text-white-50 mx-auto bg-danger p-5 mt-3">
					<h3>Vous devez être connecté pour afficher cette page !</h3>
				</div>
				
			</div>
		</div>
	</header>
{% endif %}
	{% endblock %}

	

	{# JQuery pour l'ajout des champs image et video #}
	{% block javascripts %}
		<script src="/js/addImage.js"></script>
		<script src="/js/addVideo.js"></script>
	{% endblock %}

